#astronomyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 15px;
}

#astronomyTable {
    border-spacing: 10px 10px;
    padding: 10px;
}

.astronomyText {
    font-weight: bold;
    font-size: 18px;
}

#astronomyContainer h2 {
    padding: 0 15px;
    font-weight: bold;
    font-size: 40px;
    margin: 10px;
}