#currentTempContainer {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

#location-time {
    font-weight: bold;
    font-size: 20px;
}

#currentTemp {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 30px;
}

.large-icon {
    width: 200px;
}

#currentTemp > div {
    font-weight: bold;
    font-size: 50px;
}

#weather-description {
    font-weight: bold;
    font-size: 15px;
}