* {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

main {
    background-color: #eef;
    width: 100%;
    height: 100%;

    display: grid;
    grid: 2fr 1fr / 1fr 1fr 1fr 1fr;
}

.container {
    border: 3px #aaa solid;
    border-radius: 30px;
    margin: 15px;
}

#currentTempContainer {
    grid-column: 1 / 3;
}

#weatherForecastContainer {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}


#gridContainer {
    padding: 0;
    display: grid;
    grid: 1fr 2fr / 1fr;
    gap: 10px
}